--extra-index-url https://download.pytorch.org/whl/cu102
torch==1.12.1+cu102
--extra-index-url https://download.pytorch.org/whl/cu102
torchvision==0.13.1+cu102
--extra-index-url https://download.pytorch.org/whl/cu102
torchaudio==0.12.1
