numpy==1.24.2
matplotlib==3.7.1
seaborn==0.12.2
typer==0.7.0
rich==13.3.4
tqdm==4.65.0
pandas==2.0.0
joblib==1.2.0
gpustat==0.6.0
ftfy==6.1.1
regex==2023.3.23
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5
scikit-learn==1.2.0
Pillow==9.5.0
polars==0.17.9